@font-face {
  font-family: "Jua-Regular";
  font-weight: normal;
  src: url(./fonts/Jua-Regular.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body, button, option, select, input {
  font-family: 'Jua-Regular', sans-serif;
}

a {
  font-family: inherit;
}
